/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.pointer {
	cursor: pointer;
}

a {
	text-transform: none;
}

body {
	background-color: #FFFEF8;
}

.body_container {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	color: #000000;
	text-decoration: none;
}

li:hover, li a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.filter {
	text-align: center;
	padding-bottom: 4em;
}

.filter button {
	font-size: 16px;
	font-weight: 700;
	font-family: "Syne", sans-serif;
	background-color: #FFFEF8;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px 21px;
	margin: 0 0.2em;
}

.filter button:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.filter .filter-active {
    background-color: #1D6154;
    color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover{
	background-color: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Edit */

.edit-mode {
	background-color: black;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-mode button {
	background-color: black;
	border: none;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Work Sans';
	display: flex;
	gap: 10px;
}

.portfolio_title_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 31px;
	margin-bottom: 4em;
}

.portfolio_title_container button {
	border: none;
	background-color: #FFFEF8;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

/* Modal */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.modal-container.active {
    display: flex;
}

.modal-container.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: block;
}

.modal {
    background-color: #FFFFFF;
    height: 688px;
    width: 630px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
	height: 85%;
	justify-content: space-between;
    gap: 20px;
    z-index: 3;
}

.modal-icon {
	width: 90%;
	display: flex;
	justify-content: space-between;
}

.modal-close {
	font-size: 24px;
	align-self: flex-end;
}

.modal-return {
	font-size: 24px;
	align-self: flex-start;
	visibility: hidden;
}

.modal-title {
	font-family: "Work Sans", sans-serif;
	margin-top: 10px;
	color: #000000;
	font-size: 26px;
	font-weight: 400;
}

.modal-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 24px;
	margin-top: 30px;
}

.modal-gallery figure {
	height: 103px;
}

.modal-gallery img {
	width: 100%;
}

.trash {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 11px;
	border-radius: 2px;
	padding: 4px;
	position: relative;
	top: -101px;
	left: 56px;
}

.modal-hr-btn {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 38px;
}

.modal-separator {
	width: 100%;
	color: #B3B3B3;
}

.modal-btn {
	height: 36px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 10px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 237px;
	text-align: center;
	border-radius: 60px;
}

.modal-btn:hover {
	background-color: #0E2F28;
}

.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 30px;
}

.form-element  {
	width: 100%;
}

.modal-form .imageUpload {
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
	margin-top: 10px;
}

.modal-form .imageUpload i {
	font-size: 68px;
	color: #B9C5CC;
}

.modal-form .imageUpload label {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	width: 173px;
	border: none;
	background-color: #CBD6DC;
	border-radius: 50px;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #306685;
}

.modal-form .imageUpload label:hover {
	background-color: #306685;
	color: #CBD6DC;
}

.modal-form .imageUpload p {
	font-size: 10px;
	font-family: "Work Sans";
	font-weight: 400;
	color: #444444;
}

.modal-form .imageTitle,
.modal-form .imageCategory {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal-form .imageTitle label,
.modal-form .imageCategory {
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
	color: #3D3D3D;
}

.modal-form .imageTitle input {
	height: 51px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	padding-left: 16px;
	font-size: 14px;
	font-family: 'Work Sans';
}

.modal-form .imageCategory select {
	height: 51px;
	border: none;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
	padding-left: 16px;
	appearance: none;
	font-size: 14px;
	font-family: 'Work Sans';
}

.modal-form .imageCategory i {
	position: relative;
	right: -385px;
	top: -40px;
	font-size: 11px;
}

#image-preview {
	display: none;
	width: 129px; 
	height: 169px;
}

input[type="file"] {
    display: none;
}

.button-disabled {
    background-color: #A7A7A7;
    pointer-events: none;
    cursor: not-allowed;
}